<div class="container">
  <form>
    <div class="p-5 mt-5">
      <h3 class="text-center mb-5">Add Category</h3>
      <img src="..." class="img-fluid" alt="..." />

      <div class="mb-3">
        <input class="form-control" type="file" id="formFile" />
      </div>

      <div class="mb-3">
        <input
          type="name"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="category title"
        />
      </div>

      <div class="mb-3">
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
          placeholder="category description"
        ></textarea>
      </div>

      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">Add Category</button>
      </div>
    </div>
  </form>
</div>
